<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&controls=0" 
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>


<a href="/register">Sing up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>